### VirtualEnv template
# Virtualenv
# http://iamzed.com/2009/05/07/a-primer-on-virtualenv/
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ss]cripts
pyvenv.cfg
pip-selfcheck.json
# Created by .ignore support plugin (hsz.mobi)
crossbarexamples
*.iml
.idea
.crossbar/node.pid
.crossbar/key.priv
config/local.py*
*.pyc
# MyPy cache
.mypy_cache/
